* {
    margin: 0;
    padding: 0;
}
.container {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),url(../mick-haupt--EoUIP5q2q8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    font-family: Segoe UI;
    font-size:xx-large;
    font-weight: 900;
    color: white;
    padding: 1em;
}